<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Threat Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <div class="section">
          <h1>Submit Threat</h1>
          <form action="/render" method="POST">
            <label for="json_input">Paste JSON Input:</label>
            <br />
            <textarea id="json_input" name="json_input" rows="16" cols="80" required></textarea>
            <br />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
      <div class="section">
        <h1>Threat Dashboard</h1>
        {{range .Threats}}
        <div class="threat-card">
          <ul>
            <li>Name: <b>{{.ThreatName}}</b>
            </li>
            <li>Category: {{.Category}}</li>
            <li>Size: {{.Size}} bytes</li>
            <li>Detection Date: {{.DetectionDate}}</li>
            <li>Variants: <ul>
                {{range .Variants}}
                <li>Name: {{.Name}}</li>
                <li>Date Added: {{.DateAdded}}</li>
                <br>
                {{end}}
              </ul>
            </li>
          </ul>
        </div>
        {{end}}
      </div>
  </body>
</html>
