<!DOCTYPE html>
<html>
  <head>
    <title>Threat data</title>
  </head>
    <body>
    <h1>Threat record</h1>
        <ul>
            <li>threatName: {{.ThreatName}}</li>
            <li>category: {{.Category}}</li>
            <li>size: {{.Size}}</li>
            <li>detectionDate: {{.DetectionDate}}</li>
      <!-- TODO: add data about variants -->
        </ul>
    </body>
</html>
