<!DOCTYPE html>
<html>
  <head>
    <title>Threat Dashboard</title>
  </head>
  <body>
    <h1>Threat Dashboard</h1>
    <ul>
      <li>Threat Name: {{.ThreatName}}</li>
      <li>Category: {{.Category}}</li>
      <li>Size: {{.Size}} bytes</li>
      <li>Detection Date: {{.DetectionDate}}</li>
      <li>Variations:
        <ul>
          {{range .Variants}}
            <li>Name: {{.Name}}</li>
            <li>Date Added: {{.DateAdded}}</li>
            <br>
          {{end}}
        </ul>
      </li>
    </ul>
  </body>
</html>
